
@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre/Calibre-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre/Calibre-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre/Calibre-Light.otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre/Calibre-Semibold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre/Calibre-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre/Calibre-Black.otf');
  font-weight: 800;
  font-style: normal;
}


body,p, span, h1,h2, h3,h4,h5, html {
  padding: 0;
  margin:0;
  height: 100%;
  font-family: 'Calibre';
}

html, body { 
  width: 100%;
  height: 100%;
  font-size: 12px;
  overflow-x: hidden;
  background-color: #F0F3F7;
}

* {
  box-sizing: border-box;
}

a {
  color: black;
}

p {
  font-weight: normal;
  color: 'black'
}

h3 {
  font-size: 1.8em;
}

img#logo {
  width: 50px;
  height: 50px;
}

#content-name {
  color: #0084FF;
  font-weight: bold;
}

#header-bar {
  height: 4.8em;
  z-index: 12;
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}

#body-content {
  padding: 3em;
  z-index: 1;
}

#amount-text {
  font-size: 7.5em;
  /* margin: 0; */
  margin-left: 0.2em;
  height: 84px;
}

#amount-currency {
  font-size: 2em;
  padding-top: 0.5em;
  
  /* padding-right: 0.5em; */
  /* border: 1px solid red; */
}

#asset-text {
  font-size: 2.1em;
}

#currency-text {
  font-weight: 500;
  color: rgba(0,0,0,0.5);
  font-size: 12px;
  text-align: center;
}

#transaction-container {
  /* margin: 1em 0 1.5em 0; */
  height: 83px;
}

#amount-container {
  text-align: center;
  /* border: 1px solid red; */
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}

#qrcode-container {
  border: 1px solid #979797;
  /* padding: 2em; */
  /* width: 166px;
  height: 189px; */
  position: relative;
  width: 210px;
  height: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#qrcode-container p {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 0 2em;
  /* bottom: 0.3em; */
  top: 200px;
  font-size: 10pt;
  font-weight: 500;
}

.body-wrapper {
  /* padding: 6em 15em 15em 15em; */
  padding: 6em 15em 0em 15em;
  /* height: 100% */
  /* margin-bottom: 5em; */
}

#footer {
  position: relative;
  width: 200px;
  text-align: center;
  height: 10em;
  /* border: 1px solid red; */
  display: flex;
  margin:0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}

#footer span {
  font-size: 12pt;
  padding-top: 3em;
  color: rgba(0,0,0,0.5);
  text-align: center;
}

#store-buttons {
  margin-bottom: 2em;
}

.store-button {
  height: 50px;
}

#download-app-text {
  padding: 1em 0;
  font-size: 12pt;
  color: rgba(0,0,0,0.5)
}

#transaction-info-container {
  /* border: 1px solid red; */
  /* margin: 1em 0 1em 0;
  min-height: 5em; */
  /* padding-top: 1em; */
  line-height: 5em;
  padding-left: 1em;
}

#body-content {
  background-color: white;
  position: relative;
  /* height: calc(100% - 3.5em) */
  /* height: 100%; */
  height: 44em;
}

.main-tx-info-text {
  font-size: 20px;
  margin-bottom: 0.3em;
}

.secondary-tx-info-text {
  font-size: 10px;
}

#currency-conversion-from {
  color: rgba(3,3,3,0.7);
}

#currency-conversion-to {
  color: #0084FF;
}

#main-tx-item {
  margin-bottom: 0.3em;
}


/* Helpers */

.fluid-row {
  width: 100%; height: 100%;
}

.bold {
  font-weight: bold;
}

.indent {
  margin-left: 2em;
}


/* END Helpers */