doctype html
html
  head
    title Oblip Payment Gateway
    meta charset="UTF-8"
    
    == assets(:css)
    == assets(:js)
    link href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css" rel="stylesheet" /
    script src="https://cdnjs.cloudflare.com/ajax/libs/qrcode-generator/1.4.4/qrcode.min.js" 

  body
    == yield