script src="#{PaymentGateway::App.config.OBLIP_API}/faye/client.js"

#header-bar.row.center-md.middle-md
  img#logo src="/images/logo.jpg" /
.body-wrapper
  #transaction-info-container.row.middle-md
    .row.fluid-row
      .row.fluid-row.middle-md
        .col-md-6
          .row.middle-md
            #main-tx-item.col-md-4
              span.main-tx-info-text.bold
                | Payment To: 
            .col-md-8
              span.main-tx-info-text = data.account.name
          / .row
          /   .col-md-2
          /     span.secondary-tx-info-text.bold
          /       | Exchange Rate:
          /   .col-md-8
          /     span.secondary-tx-info-text 1 USD = 2.01 BZD
        / .col-md-6
        /   .row.end-md
        /     span.main-tx-info-text
        /       span#currency-conversion-from 50.35 USD
        /       | \=
        /       span#currency-conversion-to 100.70 BZD
        /   .row.end-md
        /     span * This order will be cancelled in 12 hours if not paid. Please be fast!
  #body-content
    .row.center-md
      h3#content-name Scan &amp; Pay
    #transaction-container
      #amount-container
        #amount-text = data.payload.amount
        #asset-text = data.payload.asset
        / #currency-text = data.payload.asset
        / #currency-text BZD · Belize Dollars
    #qrcode-container
      canvas#canvas
      p Open Oblip App and scan to continue pay
    .row.center-md
      .col-md-6
        p#download-app-text Download the Oblip App
    #store-buttons.row.center-md
      .col-md-6
        .row.center-md
          .col-md-6
            a href="#" 
              img.store-button src="/images/google_play.png" /
          .col-md-6
            a href="#" 
              img.store-button src="/images/appstore.png" /
    form#hidden-form action="#{data.application.redirect_url}"
  footer#footer
    span Copyright &copy; Oblip, Inc. 2019
      
javascript:
  let username = '#{data.account.username}'
  let amt = '#{data.payload.amount}';
  let asset = '#{data.payload.asset}';
  let identifier = '#{data.identifier}';
  
  // Render qrCode
  renderQrCode(username, amt, asset, identifier);

  let client = new Faye.Client("#{PaymentGateway::App.config.OBLIP_API}/faye");
  let redirectSub = null;

  redirectSub = client.subscribe(`/gateway-process-complete-${identifier}`, (message) => {
    redirectSub.cancel();
    window.location = message.redirect_url
  });